.main {
    background-color: #f1f5fe;
    padding-top: 10px;
}

body {
    /* position:fixed; */
}

.side_bar {
    /* height: 97vh; */
    background-color:#ffffff;
}

.day_night {
    padding: 2px 4px 4px 4px;
    width: 70px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    background-color: #feffff;
}

.day_night span i {
    /* justify-content: space-between; */
}

.small_item {
    /* width: 90px; */
    width: 14%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.small_item img {
    margin: auto;
}

.small_item_2 {
    width:15%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    color: #66b589;
    background-color: aliceblue;
}

.first-card .card,
.second-card .card,
.single-card .card {
    margin-top: 20px;
    border-radius: 10px;
}

.small_card {
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255) ;
    border-radius: 10px;
}

/* for search bar icon */
/* Styles for wrapping the search box */

.main_search {
    width: 100%;
    margin: 20px auto;
   }

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    /* padding-left: 2.375rem; */
    padding-left: 2rem;
    background-color: #f7f8fd;
    border-radius: 10px;

}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2rem;
    /* width: 2.375rem; */
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.side_bar_card .side_bar_card_1 {
    background-color: #7ea2f8;
    color: #fffefa;
    margin-bottom: 2px;
    padding-bottom: 0px !important;
    border-radius: 10px;
}
.side_bar_card .side_bar_card_1 table{
    color: #fffefa;
}

.side_bar_card_1 .card-body{
    margin-bottom:0px;
    padding: 2px;
}

/* .last_card {
    
    border: none;
} */

.card-body {
    /* margin-top: 5px;
    border-radius: 5%; */
}

/* .last_card_edit{
    margin-top: 0px;
    padding-top: 0px;
    height: 50px !important;
} */
/* .last_card_edit .card-body{

} */
table tr td{
    border: none;
    text-decoration: none;
    padding:none;
    margin: none;
}
table tr{
    margin: 0px;
    padding: 0px;
}
.last_card{
    margin-bottom: 2px;
    background-color: white;
    border-radius: 10px;
   
}
.last_card .card-body{
    border-radius: 10px; 
    padding: 0px;
    padding-right: 10px;
    margin-bottom:0px;
    
}
.color_blue{
    color: #6c92fd;
}
.small_card{
    background-color: #fff8f0;
}
.last_card_one{
    background-color: #ee7da8;
    color: #fffefa;
}
.last_card_one table{
    color: #fffefa;  
}
.last_card_two{
    background-color: #f3b970;
    color: #fffefa;
}
.last_card_two table{
    color: #fffefa;
}
.color_green{
    color: #66b589;
}
.fa-location-dot{
    color: #6c92fd;
    font-weight: 5;
}
.color_yellow{
    color: #f0c419;
}
h3{
    margin: 0px;
}
.main1 table{
    margin-top: 10px;
    margin-bottom: 10px;
}
#weather_type_iconss{
    margin-left: auto;
    margin-right: auto;
    width:110px;
    height:110px;
    /* background-image: url('https://cdn-icons-png.flaticon.com/512/2042/2042235.png'); */
    background-size: cover;
    background-repeat: no-repeat;
}